.buttonsList {
  list-style: none;
  margin: 0px;
  margin-right: 10px;
}

.btn {
  border: 1px solid #db1c48;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  color: #db1c48;
}

.activeButton {
  background-color: #db1c48;
  color: #ffffff;
}
